body{
    padding: 10%;
    overflow: auto;
    box-sizing: border-box;
    padding-top: 48px;
}
hr{
    width: 100px;
}
input{
    max-width: 400px;
    width: 50%;
}
theme{
    max-width: 400px;
    width: 50%;
}

img{
    width: 200px;
}